{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h3>About</h3>
                <p>
                    A simple recipe parser which allows users to make recipe transformations such as vegetarian/vegan, low-calorie, and DIY substitutes.
                </p>
                <br>
                <h3>Methodology</h3>
                <p>
                    For our process and methodology, please see <a href="https://github.com/kapil1garg/eecs337-team3-project2">here</a>!
                </p>
                <br>
                <h3>Instructions</h3>
                <p>
                    Using the navigation bar at the top, click on parse recipes and fill out the simple form to begin.
                </p>
            </div>
        </div>
    </div>

{% endblock %}