{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            {% if dietType !='none' and healthType !='none' %}
                <p style="color:red;">Warning: Multiple substitutes still in development.
                    Result may not be accurate...
                </p>
            {% endif %}
            {% if dietType!='none' or health !='none' or easyDIY%}
                <div class="col-md-6">
            {% else %}
                <div class="col-md-12">
            {% endif %}
                <h2>
                    {{ origRecipeDict['name'] }}
                    <br>
                    <small>original recipe</small>
                </h2>
                <br>
                <strong>Ingredients:</strong>
                <br>
                {% for ingredient in origRecipeDict['ingredients'] %}
                    <ul>
                        <li><strong>{{ ingredient['name'] }}</strong>
                            <ul>
                                <li>Quantity: {{ ingredient['quantity'] }}</li>
                                <li>Measurement: {{ ingredient['measurement'] }}</li>
                                <li>Descriptor: {{ ingredient['descriptor'] }}</li>
                                <li>Preparation: {{ ingredient['preparation'] }}</li>
                                <li>Preparation Description: {{ ingredient['prep_description'] }}</li>
                            </ul>
                        </li>
                    </ul>
                    <br>
                {% endfor %}
            </div>
            {% if dietType!='none' or healthType!='none' or easyDIY %}
            <div class="col-md-6">
                <h2>
                    {{ recipeDict['name'] }}
                    <br>
                    <small>modifications:
                            {% if dietType != 'none' %}
                                {{ dietType }}
                            {% endif %}
                            {% if dietType != 'none' and healthType != 'none'%}
                                ,
                            {% endif %}
                            {% if healthType != 'none' %}
                                {{ healthType }}
                            {% endif %}
                            {% if healthType != 'none' and easyDIY%}
                                ,
                            {% endif %}
                            {% if easyDIY %}
                                easy to DIY
                            {% endif %}
                    </small>
                </h2>
                <br>
                <strong>Ingredients:</strong>
                <br>
                {% for ingredient in recipeDict['ingredients'] %}
                    <ul>
                        <li><strong>{{ ingredient['name']|safe }}</strong>
                            <ul>
                                <li>Quantity: {{ ingredient['quantity'] }}</li>
                                <li>Measurement: {{ ingredient['measurement'] }}</li>
                                <li>Descriptor: {{ ingredient['descriptor'] }}</li>
                                <li>Preparation: {{ ingredient['preparation'] }}</li>
                                <li>Preparation Description: {{ ingredient['prep_description'] }}</li>
                            </ul>
                        </li>
                    </ul>
                    <br>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <strong>Directions</strong>
                <ol>
                    {% for direction in origRecipeDict['directions'] %}
                        <li>{{ direction }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>

        <div class="row">
            <h2>
                ingredient transformations made
            </h2>
            <div class="col-md-12">
                Diet Type: {{ dietType }}
                <br>
                Diet Substitutions:
                <br>
                {% for dietSubstitute in dietSubstitutes %}
                    <ul>
                        <li>{{ dietSubstitute }} &rarr; {{ dietSubstitutes[dietSubstitute] }}</li>
                    </ul>
                {% endfor %}
                <br><br>

                Health Type: {{ healthType }}
                <br>
                Health Substitutes:
                <br>
                {% for healthSubstitute in healthSubstitutes %}
                    <ul>
                        <li>{{ healthSubstitute }} &rarr; {{ healthSubstitutes[healthSubstitute] }}</li>
                    </ul>
                {% endfor %}
                <br><br>
            </div>
        </div>
    </div>


{% endblock %}